@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
.dark-primary-color {
    background: #455A64;
}

.default-primary-color {
    background: #CFD8DC;
}

.light-primary-color {
    background: #BBDEFB;
}

.text-primary-color {
    color: #FFFFFF;
}

.accent-color {
    background: #FF4081;
}

.primary-text-color {
    color: #212121;
}

.secondary-text-color {
    color: #757575;
}

.divider-color {
    border-color: #000;
}

.transback {
    background: transparent;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #2d2d2d;
    letter-spacing: 0.2px;
    /* Search Active */
}

.space {
    width: 1rem;
    height: 1rem;
    display: block;
}

.background {
    width: 100%;
    height: 12.5rem;
}

.card .marg {
    min-height: 10rem;
    margin: 1rem;
}
.space{
    height: 2rem; 
}
.pad {
    padding: 1rem;
}

.nopad-up {
    margin-top: 0;
    padding: 0;
}

.nopad {
    padding: 0!important;
}

.active {
    color: #FF4081!important;
    border-bottom-color: #FF4081!important;
}

.tabs .tab a {
    color: #757575;
}